* {margin: 0; padding: 0;}

.content-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	text-align: center;
}
.games-list{
	padding: 50px 250px;
	font-family: "Roboto", sans-serif;
	background: ivory;
	font-size:20px;
	margin:5% 190px;
	border-radius: 5px;
	border: 5px solid #FFCB8F;
}

.game-link{
	padding: 50px
}
.game-link h1{
	padding: 5px 50px;
	cursor: pointer;
	background: #116466;
	border-radius: 25px;
	color: #ffcb9a;
	font-weight: bold;
	font-size: 2.5em;
	border: 5px solid #FFCB8F;
}